{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.github.kotoba-lang/langchain
        {:local/root "../../kotoba-lang/langchain"}
        com.etzhayyim/social-publication
        {:local/root "../com-etzhayyim-social-publication"}}
 :aliases {:test {:extra-paths ["test"]}}}
